@tailwind base;
@tailwind components;
@tailwind utilities;


h1 {
  @apply text-3xl font-bold text-gray-800;
}

h2 {
  @apply text-2xl font-semibold text-gray-800;
}

hr {
  @apply my-1 border-gray-300 border mb-3;
}

button {
  @apply transition-all hover:bg-indigo-800 bg-indigo-600 px-8 py-2 mt-8 rounded-3xl text-gray-100 font-semibold uppercase tracking-wide shadow-md;
}

